*, html, body, code, kbd, pre, samp {
  font-family: "Monixend", monospace;
}

html {
  text-align: center;
}

.font-sample {
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}