* {
    --bs-font-sans-serif: "Lexend", "Monixend", "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", sans-serif !important;
    --bs-font-monospace: "Monixend", "Lexend", "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", monospace !important;
}

.font-sample {
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
  border-radius: 5px
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

html {
    text-align: center;
}